<%- include('./header.ejs'); %>
<%- include('./navbar.ejs'); %>

<% if(!locals.matchingBooks && !locals.selectedBook){ %>
<form class="search-book" action="/remove/search" method="post">
    <div id="search-container">
        <label class ="search-input" for="search-input">Search for books:</label>
        <input type="text" id="search-input" name="search_term">
    </div>
    <button class="search" type="submit">Search</button>
</form>
<% } else if(!locals.selectedBook && locals.matchingBooks.length > 0){ %>

    <section class="books-section">
        <% matchingBooks.forEach(function(book) { %>
            <div class="book-card">
                <img src = <%= book.book_cover %> alt= <%= book.book_name %> >
                <div class="card-info">
                    <h1><%= book.book_name %></h1>
                    <h4>Date read : <%= book.date_read.toISOString().split('T')[0]; %></h4>
                    <h4>Recommend it : <%= book.rating %>/10</h4>
                    <p>
                    <%= book.about_book %>
                    </p>
                    <!-- href="/remove/<%= book.id %>" -->
                    <a class="btn-remove-book" onclick="showConfirmationBox('<%= book.id %>');">Remove Book</a>
                    <div class="back" id="back_<%= book.id %>">
                        <form method="post" action="/remove" >
                            <pre>Are you sure you want to remove this book ?</pre>
                            <p>" <%=book.book_name %> "</p>
                             <!-- Hidden input field for book_id -->
                            <input type="hidden" name="book_id" value="<%= book.id %>">

                            <div class="buttons-yes-no">
                                <button class="btn_yes" type = "submit" onclick="removeBook('<%= book.id %>');">Yes</button>
                                 <!-- Set type="button" to prevent form submission -->
                                <button class="btn_no" type ="button"  onclick="hideConfirmationBox('<%= book.id %>');">No</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            
            </div>
        <% }); %>
    </section>

    
<% } else { %>
    <section class="books-section">
        
            <div class="book-card">
                <div class="card-info">
                    <h1>No Books to display !</h1>
                </div>
            </div>
        
    </section>
<% } %>



		<script>
			const toggle_btn = document.querySelector('.toggle_btn')
			const toggle_btnIcon = document.querySelector('.toggle_btn i')
			const dropDownMenu = document.querySelector('.dropdown-menu')

			toggle_btn.onclick = function(){
				dropDownMenu.classList.toggle('open')
				const isOpen = dropDownMenu.classList.contains('open')

				toggle_btnIcon.classList = isOpen ?
				'fa-solid fa-xmark' : 
				'fa-solid fa-bars' 
				// if isOpen is true then set class of toggle_btnIcon to fa-xmark otherwise fa-bars
				// it fetches from cdn of cloudflare
			}

            
            function showConfirmationBox(bookId) {
                 // Hide all .back elements
                document.querySelectorAll('.back').forEach(backElement => {
                    backElement.style.display = 'none';
                });

                // Show the corresponding .back element based on bookId
                const backElement = document.getElementById(`back_${bookId}`);
                if (backElement) {
                    backElement.style.display = 'flex';
                }
            }
            function hideConfirmationBox(bookId) {
                const backElement = document.getElementById(`back_${bookId}`);
                if (backElement) {
                    backElement.style.display = 'none';
                }
            }
            function removeBook(bookId){
                hideConfirmationBox(bookId);
                // window.location.href = "/remove/" + bookId;
                // not req as we r using form to send post request
            }

		</script>
	

	</body>
</html>